.communication {
  padding-top: 60px;

  &-list {
    .row {
      gap: 20px 0;
      justify-content: center;
    }
  }

  &-item {
    display: block;
    background-color: #F5F6F8;
    box-shadow: 0 2px 3px 0 rgba(6, 50, 111, 0.1), 0 6px 6px 0 rgba(6, 50, 111, 0.09), 0 14px 8px 0 rgba(6, 50, 111, 0.05), 0 25px 10px 0 rgba(6, 50, 111, 0.01), 0 39px 11px 0 rgba(6, 50, 111, 0);
    text-align: center;
    padding: 32px 10px;
    // min-height: 142px;
    // height: 100%;
  }

  &-img {
    line-height: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 12px;
    line-height: 40px;

    img {
      vertical-align: middle;
    }
    // position: relative;

    // img {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    // }
  }

  &-title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.03em;

    &.phone {
      display: inline-block;
      position: relative;
      padding-left: 45px;

      .communication-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }

  @media(max-width: 1200.99px) {
    padding-top: 50px;

    &-item {
      padding: 28px 10px;
    }
  }

  @media(max-width: 1024.99px) {
    padding-top: 40px;

    &-item {
      padding: 24px 10px;
    }
  }

  @media(max-width: 768.99px) {
    &-item {
      padding: 20px 10px;
    }
  }
}